# List of working files to be ignored in the repository.

# Ignore vi editor swap files
*.swp
*.swo

# Ignore Microsoft Office temporary files
~$*

# Ignore statistic summary file for images
# - aux.xml are created dynamically when QGIS or ArcGIS use GDAL to open an image file
*.aux.xml

# Ignore optimization files for SQLite files
# - these are created dynamically to improve performance
*.gpkg-shm
*.gpkg-wal

# Ignore log files globally
*.log

# Ignore automated test files that are created by each developer
test/suites/run/*out*
test/suites/run/geoprocessor-tests.gp
test/suites/run/geoprocessor-tests.gp.out.txt
test/suites/run/geoprocessor-tests.gp.summary.html
